*{
  box-sizing: border-box;
}
div.form1{
    margin-top: 10%;
    }
.finput{
    border-bottom: 1px solid red;
    background-color: #000000;
    padding: 15px;
    border-radius: 4px;
    margin: 3px;
    opacity:0.7;
    color:white;
}
#name{

}
#textarea{
  width: 100%;
  resize: none;
  width:  inherit;
  overflow: auto;
}
input.finput:hover{
  border-bottom: 3px solid red;
  width:25%;
}

.finput:focus{
  color:white;
  width:20%;
  background-color: #000000;

}
input[type="submit"]{
  padding: 4px;
  border: none;
  border-radius: 4px;
  margin: 3px;
  transition-property: width;
  transition-duration: width 20s;
  transition-delay: 2s;

}

input[type="submit"]:hover{

  width: 30%;

}
ul{
  list-style-type: none;
  padding:  0;
  overflow: hidden;
  margin: 0;

}
li{
  float:left;

}

li a{
  diplay: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.footer{
  position:absolute;
  background-color: black;
  text-align: center;
  color:white;
  padding:10px;
  bottom: 0;
  right:0;
  left:0;
}
