div.form1{
    margin-top: 20%;
    }

.navbar{
  top: 0;
  right: 0;
  left: 0;

}
ul{
      list-style-type: none;
      padding:  14px 16px;
      overflow: hidden;
      margin: 0;
      background-color: #000000;
      opacity: 0.8;

}
  li{
      float:left;
    }

  li:hover:not(.active){

  }

  li a.active{

    }

li a{
      diplay: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: bold;
    }

.finput{
    padding: 15px;
    border-radius: 4px;
    margin: 3px;
    opacity:0.8;
    border:none;
    background-color: #000000;
    color:white;

}

input.finput:hover, #textarea:hover{
  border-bottom: 2px solid red;
}

.finput:focus, #textarea:focus{
  width:20%;
  border-left: 2px solid red;
  border-bottom: 1px solid #000000;
}

#textarea{
  width: 100%;
  resize: none;
  width:  inherit;
  overflow: auto;
}

input.finput:hover, #textarea:hover{
  border-bottom: 3px solid red;
}

  input[type="submit"]{
  padding: 4px;
  border: none;
  border-radius: 5px;
  margin: 3px;
  background-color: black;
  color:red;
}

input[type="submit"]:hover{
  color:red;
  border: 2px solid red;
}

.footer{
  position:absolute;
  background-color: black;
  text-align: center;
  color:white;
  padding:10px;
  bottom: 0;
  right:0;
  left:0;
}
